<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Details</title>
</head>
<body>
  <% include ../partials/header %>
  
    <div>Airline: <%= flight.airline %></div>
    <div>Flight No: <%= flight.flightNo %></div>
    <div>Flight Date/Time: <%= flight.departs %></div>
    <div>Departing Airport: <%= flight.airport %></div>
    <% if(flight.destinations.length > 0) { %>
      <% flight.destinations.forEach(function(d) { %>
        <p><%= d.airport %></p>
        <p><%= d.arrival %></p>
      <% }) %>
      <% } else { %>
        <p>There are no destinations for this flight</p>
    <% } %>

</body>
</html>



