<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Flight Details</title>
</head>
<body>
  <% include ../partials/header %>
  
    <div>Airline: <%= flight.airline %></div>
    <div>Flight No: <%= flight.flightNo %></div>
    <div>Flight Date/Time: <%= flight.departs %></div>
    <div>Departing Airport: <%= flight.airport %></div>
    <% if(flight.destinations.length > 0) { %>
      <% flight.destinations.forEach(function(d) { %>
        <p><%= d.airport %></p>
        <p><%= d.arrival %></p>
      <% }) %>
      <% } else { %>
        <p>There are no destinations for this flight</p>
    <% } %>

    <form action="/flights/<%=flight._id%>/destinations" method="POST">
      <select name="airport">
        <option value="AUS">AUS</option>
        <option value="SEA">SEA</option>
        <option value="LAX">LAX</option>
        <option value="DAL">DAL</option>
      </select>
      <input type="datetime-local" name="arrival">
      <input type="submit" value="Add Destination">
    </form>

</body>
</html>



